<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %}ChatBot</title>
        <script src="https://cdn.tailwindcss.com"></script>
        <style>
              chat-messages{
                height: 400px;
                overflow-y: auto;
            }
        </style>
    </head>
<body class="bg-teal-600">
    <nav class="flex items-center justify-between px-4 py-6 bg-teal-800">
        <div>
            <a href="/" class="text-xl text-white">ChatBot</a>
        </div>
    </nav>    
</html>